
<div class="test-box" style="height: 200px; width: 200px; background: gray">
</div>

{{#bs-progress}}
   {{bs-progress-bar value=value1 minValue=0 maxValue=10 showLabel=true type="danger"}}
 {{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value2 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{#bs-progress}}
   {{bs-progress-bar value=value3 minValue=0 maxValue=10 showLabel=true type="danger"}}
 {{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value4 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value5 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value6 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value7 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{#bs-progress}}
  {{bs-progress-bar value=value8 minValue=0 maxValue=10 showLabel=true type="danger"}}
{{/bs-progress}}

{{yield}}
